.center{
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    color:#0F3455;
    font-weight: bold;
    padding-top: 70px;
 }
 span{
     font-size: 17px;
     color: #1EBBD7;
     font-weight: 200;
 }
 
 .title1{
     text-align: left;
     font-family: 'Kumbh Sans', sans-serif;
     color:#0F3455;
     font-size: 30px;
     font-weight: 700;
     padding-top: 50px;
     padding-left: 20px;
 }
 
 .title{
     text-align: left;
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 200;
     font-size: 30px;
     padding-left: 20px;
     color:gray;
 }

 .my-label{
    color: #0F3455;
    font-size: 22px;
    font-family: 'Kumbh Sans', sans-serif;
 }

 .validation-errors{
    font-size: 15px;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0 auto;
    background-color: #DB4437;
    color: #ffffff;
   
}

.tyc{
    
    color: #0F3455;
    font-size: 14px;
    font-family: 'Kumbh Sans', sans-serif;
    
    
}
a{
    color: #0F3455;
    text-decoration: none;
}

.container{
    text-align: center;
    margin-top: 50px;
    
}





