.iconSize {
    font-size: 20px;
    color: #189AD3;
    margin-right: 8px;;
  }
  .iconSize2 {
    font-size: 30px;
    color: #189AD3
  }
  .title1{
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    color:#0F3455;
    font-size: 20px;
    font-weight: 400;
}

.title2{
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  color:#0F3455;
  font-size: 12px;
  font-weight: 200;
}
.toolbar{
  text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    color:#fff;
    font-size: 20px;
    font-weight: 300;
}
.close{
    text-transform: capitalize;
    color: #fff;
    font-size: 12px;
}

.footer{
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  color:#fff;
  font-size: 14px;
  font-weight: 200;
}

.p{
    font-size: 10px;
    font-family: 'Kumbh Sans', sans-serif;
    color:#0F3455;
    font-weight: 200;

}
.center{
  text-align: center;
}
.myColor {
    background-color: #107DAC;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
  }