<ion-header>
  <ion-toolbar color="new" mode="ios">
    <ion-title class="toolbar">{{customList?.estado}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-text class="close">Cerrar</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode="ios">
    <img src="assets/img/test.jpg" />
    <ion-card-content>
      <div style="text-align: right;">
        <h2 class="title1">{{customList?.nombre}}</h2>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-icon name="business-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">Horario de <br> oficina</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-icon name="airplane-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">Exportación/<br>importación</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-icon name="time-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">{{customList?.horarioSem}}</ion-label>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item lines="none">
              <ion-icon name="time-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p" *ngIf="customList?.horarioFin as value; else elseBlock">{{customList?.horarioFin}}
              </ion-label>
              <ng-template #elseBlock>
                <ion-label class="p">N/A</ion-label>
              </ng-template>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item lines="none">
              <ion-icon name="calendar-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">Lunes a <br> Viernes</ion-label>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item lines="none">
              <ion-icon name="calendar-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">Sábados y <br> Domingos</ion-label>
            </ion-item>
          </ion-col>

          <ion-col size="12" style="text-align: center;">
            <ion-item lines="none">
              <ion-icon name="call-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">{{customList?.telefono}}</ion-label>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item lines="none">
              <ion-icon name="earth-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">Tipo: {{customList?.tipo}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-icon name="person-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">Agentes aduanales: {{customList?.agentes}}</ion-label>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card>
  
  <ion-card-content>
    <div style="text-align: center;">
      <h2 class="title2">Dirección</h2>
      
          
            <ion-label class="p">{{customList?.direccion}}</ion-label>
         
        
    
    </div>

  </ion-card-content>

  </ion-card>

</ion-content>
<ion-footer class="myColor">
  <h2 class="footer"> <a href="https://www.caaarem.mx/directorio/" style="text-decoration: none; color: #ffffff;"> Ir a directorio de agentes aduanales</a></h2>
</ion-footer>



