<ion-header>
  <ion-toolbar color="new" mode="ios">
    <ion-title class="toolbar">{{customList?.estado}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-text class="close">Cerrar</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-card mode="ios">
    <ion-img src="assets/img/test.jpg"></ion-img>
    <ion-card-content>
      <div style="text-align: right;">
        <h2 class="title1">{{customList?.nombre}}</h2>
      </div> 
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-icon name="business-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">Horario de <br> oficina</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-icon name="airplane-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">Exportación e <br> importación</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-icon name="time-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">{{customList?.horarioSem}}</ion-label>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item lines="none">
              <ion-icon name="time-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p" *ngIf="customList?.horarioFin as value; else elseBlock">{{customList?.horarioFin}}</ion-label>
              <ng-template #elseBlock><ion-label class="p">N/A</ion-label></ng-template>
            </ion-item>
          </ion-col>  
          
          <ion-col size="6">
            <ion-item lines="none">
              <ion-icon name="calendar-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">Lunes - Viernes</ion-label>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item lines="none">
              <ion-icon name="calendar-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">Sábados y <br> Domingos</ion-label>
            </ion-item>
          </ion-col>

          <ion-col size="12" style="text-align: center;">
            <ion-item lines="none">
              <ion-icon name="call-outline" color="new" slot="start" class="iconSize"></ion-icon>
              <ion-label class="p">{{customList?.telefono}}</ion-label>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
  
<ion-card mode="ios">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-icon name="globe-outline" color="new" slot="start" class="iconSize"></ion-icon>
            <ion-label class="p">{{customList?.tipo}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-icon name="person-outline" color="new" slot="start" class="iconSize"></ion-icon>
            <ion-label class="p">Agentes aduanuales: {{customList?.agentes}}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-card-content>
</ion-card>

</ion-content>


<!--
<ion-content>
  
 
    <ion-buttons>
      <ion-button color="light" (click)="navigate()">
        <ion-icon class="iconSize2" name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    
    <div style="text-align: right;" *ngFor="let c of customs">
      <h2 class="title1">{{c.nombre}}</h2>
    </div>

    <ion-card mode="ios" *ngFor="let c of customs">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-icon name="business-outline" color="new" slot="start" class="iconSize"></ion-icon>
                <ion-label class="p">Horario de <br> oficina</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-icon name="airplane-outline" color="new" slot="start" class="iconSize"></ion-icon>
                <ion-label class="p">Exportación e <br> importación</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-icon name="time-outline" color="new" slot="start" class="iconSize"></ion-icon>
                <ion-label class="p">{{c.horario_sem}}</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item lines="none">
                <ion-icon name="time-outline" color="new" slot="start" class="iconSize"></ion-icon>
                <ion-label class="p">9:00 - 18:00</ion-label>
              </ion-item>
            </ion-col>  
            
            <ion-col size="6">
              <ion-item lines="none">
                <ion-icon name="calendar-outline" color="new" slot="start" class="iconSize"></ion-icon>
                <ion-label class="p">Lunes - Viernes</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item lines="none">
                <ion-icon name="calendar-outline" color="new" slot="start" class="iconSize"></ion-icon>
                <ion-label class="p">Sábados y <br> Domingos</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="12" style="text-align: center;">
              <ion-item lines="none">
                <ion-icon name="call-outline" color="new" slot="start" class="iconSize"></ion-icon>
                <ion-label class="p">(744) 434 0501</ion-label>
              </ion-item>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" *ngFor="let c of customs">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-icon name="boat-outline" color="new" slot="start" class="iconSize"></ion-icon>
                <ion-label class="p">{{c.tipo}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-icon name="person-outline" color="new" slot="start" class="iconSize"></ion-icon>
                <ion-label class="p">Sin agentes <br> aduanales</ion-label>
              </ion-item>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  

</ion-content>

<ion-footer class="myColor">
  <h2 class="footer">Ruta</h2>
 
    
</ion-footer> -->