.center{
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    color:#0F3455;
    font-weight: bold;
    padding-top: 70px;
 }
 span{
     font-size: 17px;
     color: #1EBBD7;
     font-weight: 200;
 }
 
 .title1{
     text-align: left;
     font-family: 'Kumbh Sans', sans-serif;
     color:gray;
     font-size: 30px;
     font-weight: 200;
     padding-top: 50px;
     padding-left: 20px;
 }
 
 .title{
     text-align: left;
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 700;
     font-size: 30px;
     padding-left: 20px;
     color:#0F3455;
 }

 .my-label{
    color: #0F3455;
    font-size: 22px;
    font-family: 'Kumbh Sans', sans-serif;
 }

 .my-label2{
    color: #0F3455;
    font-size: 15px;
    font-family: 'Kumbh Sans', sans-serif;
 }

 .centerb{
     text-align: center;
 }

 .validation-errors{
     font-size: 15px;
     font-family: 'Kumbh Sans', sans-serif;
     margin: 0 auto;
     
 }